!!!
html
	head
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		title StemForge
		link(href='/css/default.css', media='all', rel='stylesheet', type='text/css')
		link(href='http://enyojs.com/enyo-2.2.0/enyo.css', media='all', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='http://enyojs.com/enyo-2.2.0/enyo.js')
		script(type='text/javascript', src='/frex')
		script(type='text/javascript', src='/js/index.js')
		script
			enyo.depends(
				'$lib/layout',
				'$lib/onyx',
				'$lib/layout/fittable',
				'/components/appdesigner'
			);

	body.onyx.enyo-unselectable

		script

			new (enyo.kind({
				kind: 'FittableRows',
				classes: 'enyo-fit onyx',
				components: [
					{
						kind: 'onyx.Toolbar',
						layoutKind: 'FittableColumnsLayout',
						components: [
								{ content: 'StemForge' }
						]
					},
					{
						kind: 'Panels',
						classes: 'panel',
						fit: true,
						arrangerKind: 'CollapsingArranger',
						realtimeFit: true,
						wrap: false,
						components: [
							{
								kind: 'AppDesigner.Menu',
								classes: 'enyo-fit',
								fit: true,
								style: 'width: 200px;',
								touch: true
							},
							{
								name: 'body',
								fit: true,
								components: [
									{
										kind: 'AppDesigner.System.Panel',
									}
								]
							}
						]
					}
				],
				rendered: function() {
					this.inherited(arguments);
				}
			}))().renderInto(document.body);

