!!!
html
	head
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		title StemForge
		link(href='/css/default.css', media='all', rel='stylesheet', type='text/css')
		link(href='http://enyojs.com/enyo-2.2.0/enyo.css', media='all', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='http://enyojs.com/enyo-2.2.0/enyo.js')
		script(type='text/javascript', src='/frex')
		script(type='text/javascript', src='/js/index.js')
		script
			enyo.depends(
				'$lib/layout',
				'$lib/onyx',
				'$lib/layout/fittable',
				'/components/signinDialog'
			);

	body.onyx.enyo-unselectable

		script

			new (enyo.kind({
				kind: 'FittableRows',
				classes: 'enyo-fit onyx',
				data: [
					{
						name: 'NAS',
						desc: 'Network attachment storage'
					},
					{
						name: 'Fax',
						desc: 'Paperless fax machine'
					}
				],
				components: [
					{
						kind: 'onyx.Toolbar',
						layoutKind: 'FittableColumnsLayout',
						components: [
								{ content: 'StemForge' },
								{ kind: 'onyx.Button', content: 'Sign In', classes: 'toolbar-pull-right', ontap: 'openDialog', popup: 'SignInDialog' }
						]
					},
					{
						name: 'list',
						kind: 'List',
						classes: 'enyo-unselectable',
						fit: true,
						reorderable: true,
						components: [
							{
								name: 'item',
								classes: 'list-item',
								components: [
									{ name: 'appName', classes: 'list-item-label' },
									{ name: 'appDesc', classes: 'list-item-desc' },
									{ name: 'appDownloadBtn', kind: 'onyx.Button', classes: 'onyx-affirmative list-item-left', content: 'Download', ontap: 'downloadApp', popup: 'dlAppPopup' }
								]
							}
						],
						onSetupItem: 'setupItem'
					},
					{ name: 'SignInDialog', kind: 'frex.Dialog.SignIn' },
					{ name: 'requiredBoardPopup', kind: 'onyx.Popup', classes: 'popup-dialog', modal: true, centered: true, floating: true, scrim: true, components: [
						{ content: 'Do you already have Cubieboard?' },
						{ kind: 'ImageView', scale: 'auto', src: 'http://cubieboard.org/wp-content/uploads/2012/10/kk1.jpg', style: 'width: 320px; height: 240px;' },
						{ tag: 'br' },
						{ kind: 'onyx.Button', content: 'Yes', ontap: 'closeReqBoardDialog' },
						{ kind: 'onyx.Button', content: 'No', ontap: 'closeReqBoardDialog' },
						{
							name: 'requiredBoardPopupShow',
							kind: 'enyo.Animator',
							easingFunction: enyo.easing.cubicOut,
							duration: 400,
							startValue: 0,
							endVlaue: 1,
							onStep: 'requiredBoardPopupEffect'

						}
					]},
					{ name: 'dlAppPopup', kind: 'onyx.Popup', modal: true, centered: true, floating: true, scrim: true, components: [
						{ content: 'Required Components:' },
						{ content: 'SATA Hardrive' },
						{ tag: 'br' },
						{ kind: 'onyx.Button', content: 'Download Now' }
					]}
				],
				rendered: function() {
					this.inherited(arguments);
					this.$.list.setCount(this.data.length);
					this.$.list.reset();
					this.$.requiredBoardPopup.show();
					this.$.requiredBoardPopupShow.play();
				},
				setupItem: function(inSender, inEvent) {
					var i = inEvent.index;
					if (!this.data[i])
						return;

					var item = this.data[i];
					this.$.appName.setContent(item.name);
					this.$.appDesc.setContent(item.desc);
				},
				downloadApp: function(inSender) {
					var popup = this.$[inSender.popup];
					if (popup)
						popup.show();
				},
				closeReqBoardDialog: function() {
					var popup = this.$.requiredBoardPopup;
					if (popup)
						popup.hide();
				},
				requiredBoardPopupEffect: function(inSender) {
					var value = inSender.value.toFixed(8);
					this.$.requiredBoardPopup.applyStyle('opacity', value);
				},
				openDialog: function(inSender) {
					var popup = this.$[inSender.popup];
					if (popup)
						popup.show();
				}
			}))().renderInto(document.body);

