!!!
html
	head
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		title StemForge
		link(href='/css/default.css', media='all', rel='stylesheet', type='text/css')
		link(href='http://enyojs.com/enyo-2.2.0/enyo.css', media='all', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='http://enyojs.com/enyo-2.2.0/enyo.js')
		script(type='text/javascript', src='/frex')
		script(type='text/javascript', src='/js/index.js')
		script
			enyo.depends(
				'$lib/layout',
				'$lib/onyx',
				'$lib/layout/fittable'
			);

	body.onyx.enyo-unselectable

		script

			new (enyo.kind({
				kind: 'FittableRows',
				classes: 'enyo-fit onyx',
				data: [
					{
						name: 'NAS',
						desc: 'Network attachment storage'
					},
					{
						name: 'Fax',
						desc: 'Paperless fax machine'
					}
				],
				components: [
					{
						kind: 'onyx.Toolbar',
						layoutKind: 'FittableColumnsLayout',
						components: [
								{ content: 'StemForge' },
								{ kind: 'onyx.Button', content: 'Sign In', classes: 'toolbar-pull-right' }
						]
					},
					{
						name: 'list',
						kind: 'List',
						classes: 'enyo-unselectable',
						fit: true,
						reorderable: true,
						components: [
							{
								name: 'item',
								classes: 'list-item',
								components: [
									{ name: 'appName', classes: 'list-item-label' },
									{ name: 'appDesc', classes: 'list-item-desc' },
									{ name: 'appDownloadBtn', kind: 'onyx.Button', classes: 'onyx-affirmative list-item-left', content: 'Download' }
								]
							}
						],
						onSetupItem: 'setupItem'
					}
				],
				rendered: function() {
					this.inherited(arguments);
					this.$.list.setCount(this.data.length);
					this.$.list.reset();
				},
				setupItem: function(inSender, inEvent) {
					var i = inEvent.index;
					if (!this.data[i])
						return;

					var item = this.data[i];
					this.$.appName.setContent(item.name);
					this.$.appDesc.setContent(item.desc);
				}
			}))().renderInto(document.body);

