
.appdesigner-menu {
	background-color: #eee;
	background-image: url(/img/normal-bg.png);
}

.appdesigner-menu-item {
	height: 32px;
	border-top: 1px solid #bbb;
	padding: 10px;
	position: relative;
	color: #555555;
}

.appdesigner-menu-item.onyx-selected {
	background-color: #425C67;
	color: white;
}

.appdesigner-menu-item-icon {
}

.appdesigner-menu-item-label {
	position: absolute;
	font-size: 18px;
	line-height: 32px;
	padding-left: 42px;
	padding-top: 10px;
	top: 0px;
}
