.appdesigner-package-panel {
	padding: 10px;
}

.appdesigner-package-item {
	padding: 5px;
}

.appdesigner-package-toolbar {
	background-color: #eee;
	background-image: url(/img/normal-bg.png);
	border-left: 1px solid rgba(255,255,255,0.3);
}

.field-label {
	width: 15%;
	text-align: right;
	padding-right: 30px;

	border-right: 1px solid #bbb;
	font-weight: bold;
	color: #555555;
}

.field-inputbox {
}
